[Unit]
Description= Bobagram

[Service]
Type=simple
User=boba
Group=boba
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4331
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/boba/bobagram
ExecStart=/bin/bash /home/boba/bobagram/start.sh

[Install]
WantedBy=multi-user.target